{% extends "global/Page.html" %}
{% block content %}

<h3>Question 3 : Quels secteurs bénéficieront le plus du potentiel de l’IA ?</h3>

<p>(Vous pouvez sélectionner plusieurs réponses)</p>

<form method="post">
    <div>
        {% for val, label in choices %}
            <label><input type="checkbox" name="q3_sector_option" value="{{ label }}"> {{ label }}</label><br>
        {% endfor %}
    </div>

    <!-- Champ caché qui recevra les valeurs sélectionnées -->
    <input type="hidden" name="q3_sectors" id="q3_sectors_input">
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">⬅ Revenir à la question précédente</button>
    <button type="submit" style="background-color: #0d6efd; padding: 6px 12px; color: #fff; font-weight: 400; border: 1px solid transparent; margin: 10px 0px; border-radius: 4px;" onclick="storeSelected()">Suivant</button>
</form>

<script>
    function storeSelected() {
        let checkboxes = document.querySelectorAll('input[name="q3_sector_option"]:checked');
        let values = Array.from(checkboxes).map(cb => cb.value);
        document.getElementById('q3_sectors_input').value = values.join(', ');
    }
</script>

{% endblock %}
