{{ block title }} Test Input 3 {{ endblock }}

{{ block content }}

<table class="table">
    <thead>
        <tr>
            <th>Logiciel</th>
            <th>Analyse</th>
            <th>Présentation</th>
            <th>Programmation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Excel</th>
            <td><input type="checkbox" name="excel" value="analyse"></td>
            <td><input type="checkbox" name="excel" value="pres"></td>
            <td><input type="checkbox" name="excel" value="prog"></td>
        </tr>
        <tr>
            <th>PowerPoint</th>
            <td><input type="checkbox" name="powerpoint" value="analyse"></td>
            <td><input type="checkbox" name="powerpoint" value="pres"></td>
            <td><input type="checkbox" name="powerpoint" value="prog"></td>
        </tr>
        <tr>
            <th>Python</th>
            <td><input type="checkbox" name="python" value="analyse"></td>
            <td><input type="checkbox" name="python" value="pres"></td>
            <td><input type="checkbox" name="python" value="prog"></td>
        </tr>
    </tbody>
</table>

<input type="hidden" name="ck_excel" id="ck_excel">
<input type="hidden" name="ck_powerpoint" id="ck_powerpoint">
<input type="hidden" name="ck_python" id="ck_python">

{{ next_button }}

<script>
document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const ckExcel = document.getElementById("ck_excel");
    const ckPowerpoint = document.getElementById("ck_powerpoint");
    const ckPython = document.getElementById("ck_python");
    const btn = document.getElementById("test-btn");
    console.log(ckExcel);
    console.log(ckPowerpoint);
    console.log(ckPython);

    form.addEventListener("submit", function (event) {

        ckExcel.value = Array.from(document.querySelectorAll('input[name="excel"]:checked')).map(cb => cb.value).join(",");
        ckPowerpoint.value = Array.from(document.querySelectorAll('input[name="powerpoint"]:checked')).map(cb => cb.value).join(",");
        ckPython.value = Array.from(document.querySelectorAll('input[name="python"]:checked')).map(cb => cb.value).join(",");

        console.log('ck_excel=', ckExcel.value, 'ck_powerpoint=', ckPowerpoint.value, 'ck_python=', ckPython.value);
        // décommenter pour tester sans submit
        // event.preventDefault();
    });
});
</script>

{% endblock %}
