{% extends "global/Page.html" %} {% block content %}

<h2>Quiz de compréhension</h2>

<p>
  Veuillez répondre aux questions suivantes pour vérifier que vous avez bien
  compris le fonctionnement du jeu.
</p>

<p><strong>Question 1</strong></p>
<p>
  Si le joueur A envoie {{ x }} jetons au joueur B, combien de jetons le joueur
  B reçoit-il ?
</p>
{{ formfield player.q1_b_receive}}

<p><strong>Question 2</strong></p>
<p>
  Le joueur B reçoit {{ y }} jetons et renvoie {{ z }} jetons. Combien le joueur
  A reçoit-il ?
</p>
{{ formfield player.q2_a_get_back }}

<p><strong>Question 3</strong></p>
<p>
  Le joueur A envoie 4 jetons → le joueur B reçoit 12 jetons → le joueur B
  renvoie 2 jetons.
</p>
<ul>
  <li>Combien de jetons le joueur A a-t-il à la fin ?</li>
  {{ formfield player.q3_a_final }}
  <li>Combien de jetons le joueur B a-t-il à la fin ?</li>
  {{ formfield player.q3_b_final }}
</ul>

<p><strong>Question 4</strong></p>
<p>
  Vrai ou faux : Si le joueur B vous renvoie des jetons, ce montant est triplé
  comme le montant que vous lui avez envoyé.
</p>
{{ formfield player.q4_true_false }}

{{ next_button }}

{% endblock %}