{{ block title }} FIN {{ endblock }} 

{{ block content }}

<p><strong>Résultats du tirage au sort:</strong></p>
<ul>
  <li>N° Décision : {{ i_visible }} ( en réalité {{ i_final }} )</li>
  <li>Choix lors de cette décision : {{ invested }}</li>
  <li>Boule tirée : {{ ball_color }}</li>
  <li>Somme initiale : {{ C.ENDOWMENT | to0 }}</li>
  <li>Profit associé : {{ profit | to0 }}</li>
  <li>Votre total de jetons: {{ C.ENDOWMENT | to0 }} + {{ profit | to0 }} = {{ payoff | to0 }}</li>
</ul>

{{ next_button }} 

{{ endblock }}
