{% block title %} Informations générales {% endblock %}
{% block content %}

<p>
  Bonjour, dans cette partie, nous allons vous demander de faire des choix avec les jetons que vous allez gagner.
</p>

<p>Cette étape comprend :</p>
<ul>
  <li>
    ✅ une tâche rémunérée qui vous permettra de gagner
    <strong>{{ C.ENDOWMENT | to0 }} </strong> ;
  </li>
  <li>🎲 une série de jeux dans lesquels le hasard joue un rôle.</li>
</ul>

<div class="alert alert-info">
  💡 À la fin de cette série de jeux,
  <strong>une seule de vos décisions</strong> est tirée au sort pour déterminer
  votre gain ou perte final.<br />
  Cela signifie que chaque décision compte : il est donc important de répondre à
  chaque décision avec attention.
</div>

<button class="btn btn-primary">Continuer</button>
{% endblock %}
