{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'empty.css' %}">
{% endblock %}

{% block title %}

	<h1 class="page-title">Informations générales</h1>

{% endblock %}


{% block content %}


<div class="info-wrapper">

    <p class="welcome-text">
        Dans cette partie, vous devrez faire des choix avec des jetons que vous allez gagner.
    </p>


    <h3>Cette étape comprend :</h3>
    <ul class="steps-list">
        <li>
            ✅ Une tâche rémunérée qui vous permettra de gagner 
            <strong class="highlight">{{ C.ENDOWMENT | to0 }}</strong>
        </li>
        <li>🎲 Une série de jeux de décisions où le hasard joue un rôle.</li>
    </ul>

    <div class="alert-box">
        💡 À la fin de cette série de jeux, <strong>une seule de vos décisions</strong> est tirée au sort pour déterminer votre gain ou perte final.
        <br>
        <span class="alert-note">Cela signifie que chaque décision compte : il est donc important de répondre à chaque décision avec attention.</span>
    </div>

    <div class="button-container">
        {{ next_button }}
    </div>
</div>

{% endblock %}

