{% block content %}
<h2>Félicitations !</h2>
<p>🎉 Vous avez gagné <strong>{{player.payoff}}</strong>.</p>

<p>Vous allez maintenant les utiliser dans une série de jeux de décisions.</p>
<p>
  Chaque décision est indépendante des autres. Une seule sera tirée au sort pour
  calculer votre gain final.
</p>

<div class="alert alert-warning">
  ⚠️ Il est donc essentiel de traiter chaque décision avec attention, comme si
  elle seule comptait.
</div>

<button class="btn btn-primary">Continuer</button>
{% endblock %}
