{{ block title }} Investissez vos jetons – Décision 1 {{ endblock }} 
{% block content %}

<p>Avec {{ C.MAX_INVESTMENT }} de <strong>vos</strong> jetons, vous pouvez :</p>
<ul>
  <li>💰 tous les garder</li>
  <li>🎲 ou en investir en partie ou en totalité dans un jeu risqué</li>
</ul>

<p>🔍 Le jeu risqué :</p>
<p>Une urne contient 12 boules : 6 🟡 jaunes et 6 🟣 violettes</p>
<ul>
  <li>🟡 JAUNE : vous gagnez 3 fois les jetons investis</li>
  <li>🟣 VIOLET : vous perdez les jetons investis</li>
</ul>
{{ next_button }} {% endblock %}
