{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% endblock %}

{% block title %}

  <h1 class="page-title"> Décision {{ player.confirmed_decision_count }} - Investissez vos jetons </h1>

{% endblock %}

{{ block content }}

<p><strong style="color: red">Numéro de la décision selon cahier des charges : {{ real_current_decision }}</strong></p>

<div class="alert-box">
    Vous pouvez tester les effets potentiels des différents choix possibles en cliquant sur les valeurs du menu déroulant. 
    Votre décision ne sera définitive qu’après avoir cliqué sur le bouton « validez votre choix » en bas de l’écran
</div>

<div class="container">
    <div class="decision-card">
        <div class="question-section">

            <h5><strong>Combien souhaitez-vous investir ?</strong></h5>

            <div class="investment-form">
                {{ if real_current_decision == 1 }}
                    <span>{{ form.inv1.label }}</span> {{ form.inv1 }} jetons.
                {{ elif real_current_decision == 2 }}
                    <span>{{ form.inv2.label }}</span> {{ form.inv2 }} jetons.
                {{ elif real_current_decision == 3 }}
                    <span>{{ form.inv3.label }}</span> {{ form.inv3 }} jetons.
                {{ elif real_current_decision == 4 }}
                    <span>{{ form.inv4.label }}</span> {{ form.inv4 }} jetons.
                {{ endif }}
            </div>

        </div>

        <div class="preview-section" id="preview">
            <div class="preview-header">
                <h3>Résumé de votre investissement</h3>
                <p id="kept" class="kept-amount"></p>
            </div>

            <div class="outcomes">
                <h4>Vos jetons après tirage :</h4>
                <div class="outcome-list">
                    <div class="outcome-item">
                        <div class="option-icon"><span class="ball yellow"></span></div>
                        <div class="option-text">Tirage <strong>JAUNE</strong> : <span id="gains_if_yellow"></span></div>
                    </div>
                    <div class="outcome-item">
                        <div class="option-icon"><span class="ball purple"></span></div>
                        <div class="option-text">Tirage <strong>VIOLET</strong> : <span id="gains_if_purple"></span></div>
                    </div>
                </div>
          </div>
        </div>

    </div>
</div>



<div class="button-container">
    {% block next_button %}
      <button class="otree-btn-next btn btn-primary">Validez votre choix</button>
    {% endblock %}
</div>

{{ include_sibling 'scripts.html'}} 

{{ include_sibling 'style.html'}}

{{ endblock }}



