{{ block title }} Investissez vos jetons – Décision {{ player.confirmed_decision_count }} {{ endblock }} 
{{ block content }}

<p><strong style="color: red">Numéro de la décision selon cahier des charges : {{ real_current_decision }}</strong></p>
<p><strong>Combien souhaitez-vous investir ?</strong></p>

{{ if real_current_decision == 1 }}
    {{ formfield 'inv1' }}
{{ elif real_current_decision == 2}}
    {{ formfield 'inv2' }}
{{ elif real_current_decision == 3}}
    {{ formfield 'inv3' }}
{{ elif real_current_decision == 4}}
    {{ formfield 'inv4' }}
{{ endif }}

<div id="preview">
  <p id="kept"></p>
  <strong>Vos jetons après tirage :</strong>
  <ul>
    <li><span class="ball yellow"></span> Boule JAUNE : <span id="gains_if_yellow"></span></li>
    <li><span class="ball purple"></span> Boule VIOLETTE : <span id="gains_if_purple"></span></li>
  </ul>
</div>

{{ next_button }} 

{{ include_sibling 'style.html'}} 

{{ include_sibling 'scripts.html'}} 

{{ endblock }}
