{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% endblock %}

{{ block title }} Investissez vos jetons – Décision {{ player.confirmed_decision_count }} {{ endblock }} 
{% block content %}

<p><strong style="color: red">Numéro de la décision selon cahier des charges : {{ real_current_decision }}</strong></p>

<div class="alert-box">
La décision donnant lieu à votre rémunération finale n’étant tirée au sort parmi toutes vos décisions qu’à la fin de la première partie, 
vous disposez donc toujours à ce stade de vos <strong>{{ player.payoff | to0 }}</strong> initiaux.
</div>

<p>Vous allez maintenant choisir un <strong>tirage au sort parmi plusieurs tirages possibles</strong>.</p>
<p>
    Chaque tirage correspond à une urne contenant des boules de couleurs
    différentes : JAUNE <span class="ball yellow"></span> , VIOLETTE <span class="ball purple"></span> ou BLEUE <span class="ball blue"></span> {% if real_current_decision == 6 or
    real_current_decision == 8 %} mais vous ne connaissez pas le nombre. {% endif %}<br />
    La couleur tirée détermine le nombre de jetons que vous gagnez.
  </p>
  <ul>
    {{ for li in li_items }}
    <li>{{ li }}</li>
    {{ endfor }}
  </ul>
  <p><strong>Choisissez votre tirage préféré :</strong></p>
  
  <table>
    <thead>
      <tr>
        <th>Option</th>
        <th>Contenu de l'urne</th>
        <th>Résultat du tirage</th>
        <th>Votre choix</th>
      </tr>
    </thead>
    <tbody>
      {% for letter, box, result in rows %}
      <tr>
        <td>{{ letter }}</td>
        <td>{{ box }}</td>
        <td>{{ result }}</td>
        <td><input type="radio" name="inv{{ real_current_decision }}" value="{{ letter }}"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<div class="button-container">
    {% block next_button %}
      <button class="otree-btn-next btn btn-primary">Validez votre choix</button>
    {% endblock %}
</div>

{{ include_sibling 'style.html'}} 

<style>
  
    table, th, td {
        text-align: center;
        vertical-align: middle;
        border: 1px solid black;
    }

    th,td {
      padding: 5px 8px;
    }

  </style>
  
{% endblock %}
