<script>
  current_decision = parseInt("{{real_current_decision}}");
  const selectInput = document.querySelector(
    "select[name=inv" + current_decision + "]"
  );
  const max_investment = parseFloat("{{C.MAX_INVESTMENT }}");
  const kept = document.getElementById("kept");
  const gains_if_yellow = document.getElementById("gains_if_yellow");
  const gains_if_purple = document.getElementById("gains_if_purple");

  function updateMessage() {
    const invested = selectInput.value;
    const kept_value = max_investment - invested;
    kept.innerHTML = updateKept(kept_value);
    let result;

    switch (current_decision) {
      case 1:
      case 2:
        result = update_D1_D2(kept_value, invested);
        break;
      case 3:
      case 4:
        result = update_D3_D4(kept_value, invested);
        break;
    }

    gains_if_yellow.textContent = result.yellow;
    gains_if_purple.textContent = result.purple;
  }

  // retourne le message concernant les jetons conservés
  function updateKept(kept_value) {
    let result;
    const invested = max_investment - kept_value;
    const pl_kept = isPlural(kept_value);
    const pl_invested = isPlural(invested);
    let s;

    result = "Vous misez <strong> "+ invested +" </strong> jeton" + pl_invested + " et conservez <strong>" + kept_value + "</strong> jeton" + pl_kept;

    if (current_decision == 3 || current_decision == 4) {
      if(kept_value != 0 ) {
        if(pl_kept)
          s = " qui seront définitivement perdus";
        else
        s = " qui sera définitivement perdu";

        result += s;
      }
    }

    return result + ".";
  }

  // Ces fonctions retournent les textes correspondant aux tirages jaune et violet en fonction de la décision
  // prennent en paramètres le nb de jetons conservés et investis

  function isPlural(value) {
    if (value <=1 )
      return "";
    else
      return "s"; 
  }
  function update_D1_D2(kept_value, invested) {
    const pl_kept = isPlural(kept_value);
    const pl_invested = isPlural(invested)
    const yellow =
      kept_value +
      " jeton"+ pl_kept + " conservé" + pl_kept + " + 3 x " +
      invested +
      " jeton" + pl_invested + " gagné" + pl_invested + " = " +
      (kept_value + 3 * invested);

    const purple = kept_value + " jeton"+ pl_kept +" conservé" + pl_kept;

    return { yellow, purple };
  }

  function update_D3_D4(kept_value, invested) {
    let yellow, purple;
    const pl_kept = isPlural(kept_value);
    const pl_invested = isPlural(invested);

    if ( invested == "0" || invested == "") {
      yellow = purple = "Vous perdez les 10 jetons";
    } else {
      yellow = purple = "Vous perdez " + kept_value + " jeton" + pl_kept + " non-investi" + pl_kept;

      yellow += " et conservez " + invested +
        " jeton" + pl_invested + " investi" + pl_invested 
      purple +=
        " + 3 x " +
        invested +
        " jeton" + pl_invested + " investi" + pl_invested + " = " +
        (kept_value + 3 * invested) +
        " jetons perdus";
    }
    return { yellow, purple };
  }

  selectInput.addEventListener("change", updateMessage);
  document.addEventListener("DOMContentLoaded", updateMessage);
</script>
